[unit]
Description=Test Service

[Service]
Type=simple
ExecStart=/home/nanith/odev/BSAT_postgresqlservice/odev.sh

[Install]
WantedBy=multi-user.target
